p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.button {
    width: 200px;
    background-color: #6d8142;
    border-radius: 4px;
    transition: .18s;
}

.button:hover {
    background-color: #3D6A93;
    transform: scale(1.02);
    margin-top: -5px;
    margin-bottom: 5px;
    box-shadow: 0 4px 3px rgba(0, 0, 0, .3);
}

.button a p {
    text-align: center;
    color: #fff;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}